<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    
    <bean id="persona" class="com.enero.springagosto.model.model.Persona">
        <property name="nombres" value="Williams EQ"/>
    </bean>
    
    <!-- Valores Constructor -->
    <bean id="bob" class="com.enero.springagosto.model.model.Musico">
        <constructor-arg value="5"/>
    </bean>
    
    <bean id="instrumento" class="com.enero.springagosto.model.model.Instrumento">
        <property name="marca" value="fender"/>
    </bean>   
    <bean id="slash" class="com.enero.springagosto.model.model.Musico">
        <constructor-arg value="5"/>
        <constructor-arg ref="instrumento"/>
    </bean>
    
    <!-- Valores a través de Setters -->
    <bean id="lennon" class="com.enero.springagosto.model.model.Musico">
        <property name="nombres" value="John Lennon"/>
        <property name="numerocanciones" value="4" />
        <!-- Inyeccion de referencia via setter -->
        <property name="instrumento" ref="instrumento" />
    </bean>
    
    
    <bean id="james" class="com.enero.springagosto.model.model.Musico">
        <property name="nombres" value="James Morrison"/>
        <property name="numerocanciones" value="4" />
        <!-- Inyeccion de referencia via setter -->
        <property name="instrumento">
            <bean class="com.enero.springagosto.model.Guitarra">
                <property name="marca" value="Gibson"/>
            </bean>
        </property>
    </bean>
    
    
    
    
    <bean id="guitarra" class="com.enero.springagosto.model.model.Guitarra">
        <property name="marca" value="Gibson"/>
    </bean>
    <bean id="piano" class="com.enero.springagosto.model.model.Piano">
        <property name="marca" value="Pianos Z"/>
    </bean>
    
    <bean id="jimy" class="com.enero.springagosto.model.model.Musico">
        <property name="nombres" value="James Morrison"/>
        <property name="numerocanciones" value="4" />
        <!-- Inyeccion de referencia via setter -->
        <property name="instrumentos">
            <list>
                <ref bean="guitarra"/>
                <ref bean="piano"/>
            </list>
        </property>
    </bean>
    
    <bean id="sanz" class="com.enero.springagosto.model.model.Musico" autowire="byName"/>
    <bean id="bajo" class="com.enero.springagosto.model.model.Instrumento" primary="true">
        <property name="marca" value="Yamaha"/>  
    </bean>
    <bean id="cerati" class="com.enero.springagosto.model.model.Musico" autowire="byType"/>
    <bean id="charly" class="com.enero.springagosto.model.model.Musico" autowire="constructor"/>
</beans>
